{% extends "base.html" %}
{% load convert_tags %}

{% block topcurrent %}current_{% endblock %}

{% block title %}{% block metatitle %}Top Photos ... so far{% endblock %}{% endblock %}

{% block content %}
<div id="topphotos" class="content">
<h2>Top photos ... so far</h2>

<p>Only photos that have been in {{ threshold }} or more challenges are listed here, and the results are recalculated every {{ cachemins }} minutes...</p>

{% for item in items.object_list %}
    <p>
    <a href="{{ item.itemurl }}" target="_new">{% thumbnail item.itemimg "400x400gt" as img %}<img src="{{ img.url}}" alt="{{ item.itemname }}" border="0" width="{{img.width}}" height="{{img.height}}">
    <img style="align:right" src="http://www.redbubble.com/bubblewrap/logos/rb_buy.gif" alt="Buy art" />
</a><br/>
    <a href="{{ item.itemurl }}" target="_new">#{{ items.start_index|add:forloop.counter0 }}<!-- ({{ item.wincount }}/{{ item.challengecount }})-->: {{ item.itemname }}</a>
    </p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        <a href="?page=1">first</a>
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
        {% endif %}
        <a href="?page={{ items.paginator.num_pages }}">last</a>
    </span>
</div>
</div>
{% endblock %}
